body {
    font-family: "Montserrat";
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat";
    font-weight: bold;
}

p {
    color: #5a5a5a;
}

.container-fluid {
    padding: 7% 15%;
}

.title-container {
    padding: 3% 15% 7%;
}

.big-heading {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    padding: 6%;
}

#title {
    background-color: #1a1717;
    background-image: url(https://my.spline.design/untitled-116a2a9d4d0487bace91eb110a72ffdb/);
    color: white;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}

.navbar {

    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.title-image {
    width: 100%;
    right: 30%;
}

.author-image {
    width: 100%;
    border-radius: 10%;

}

.text-author {
    text-align: right;
}

#books {
    text-align: center;
    background-color: #1a1717;
    color: white;

}

#books p {
    color: white;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 200%;
    left: 25%;
    transform: translate(-50%, -50%) scale(0);
    background: #FFF9E8;
    color: #222;
    width: 400px;
    height: 600px;
    z-index: 2;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
    border: brown 3px solid;
    border-radius: 3%;
}
#popup-2 .content{
    top: 200%;
    left: 50%;
}
#popup-3 .content{
    top: 200%;
    left: 75%;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


.book-image {
    width: 70%;
    padding: 5% 0%;
}


#films {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1236' height='855' preserveAspectRatio='none' viewBox='0 0 1236 855'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='1236' height='855' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1338.9999999999998 855L0 855 L0 442.62Q63.68 444.5%2c 61.800000000000004 508.19Q119.59 462.98%2c 164.8 520.77Q172.04 425%2c 267.8 432.24Q324.78 386.22%2c 370.8 443.2Q439.86 450.45%2c 432.6 519.51Q492.48 476.39%2c 535.6 536.27Q546.8 485.67%2c 597.4 496.87Q603.18 440.86%2c 659.1999999999999 446.64Q705.12 389.56%2c 762.1999999999999 435.47Q836.42 406.7%2c 865.1999999999999 480.92Q930.8 443.52%2c 968.1999999999999 509.12Q982.58 420.51%2c 1071.1999999999998 434.89Q1107.63 409.51%2c 1132.9999999999998 445.94Q1203.23 413.17%2c 1235.9999999999998 483.4Q1274.72 419.13%2c 1338.9999999999998 457.85z' fill='rgba(60%2c 61%2c 71%2c 1)'%3e%3c/path%3e%3cpath d='M1338.9999999999998 855L0 855 L0 622.01Q56.19 575.2%2c 103 631.39Q116.88 542.27%2c 206 556.16Q219.1 507.46%2c 267.8 520.55Q327.67 477.41%2c 370.8 537.28Q465.19 528.67%2c 473.8 623.07Q475.47 562.93%2c 535.6 564.6Q567.54 493.54%2c 638.6 525.48Q697.17 481.05%2c 741.6 539.62Q832.88 527.89%2c 844.6 619.17Q845.03 557.8%2c 906.4 558.23Q915.77 505.8%2c 968.1999999999999 515.17Q1033.31 477.28%2c 1071.1999999999998 542.39Q1138.01 547.4%2c 1132.9999999999998 614.22Q1162.75 540.98%2c 1235.9999999999998 570.73Q1272.16 503.89%2c 1338.9999999999998 540.06z' fill='rgba(49%2c 53%2c 59%2c 1)'%3e%3c/path%3e%3cpath d='M1256.6 855L0 855 L0 609.42Q39.75 587.37%2c 61.800000000000004 627.12Q127.4 630.92%2c 123.60000000000001 696.52Q109.45 620.57%2c 185.4 606.43Q288.19 606.22%2c 288.4 709.02Q311.79 670.61%2c 350.2 694Q391.62 632.42%2c 453.2 673.85Q496.2 613.85%2c 556.2 656.84Q562.31 601.15%2c 618 607.26Q654.36 581.82%2c 679.8 618.18Q719.57 596.15%2c 741.5999999999999 635.93Q800.83 592.16%2c 844.5999999999999 651.39Q928.5 632.29%2c 947.5999999999999 716.19Q959.2 624.8%2c 1050.6 636.4Q1109.53 592.33%2c 1153.6 651.25Q1220.08 614.73%2c 1256.6 681.21z' fill='rgba(89%2c 96%2c 109%2c 1)'%3e%3c/path%3e%3cpath d='M1277.1999999999998 855L0 855 L0 742.24Q66.84 706.08%2c 103 772.92Q139.18 747.3%2c 164.8 783.49Q181.65 697.34%2c 267.8 714.18Q306.11 690.69%2c 329.6 729Q377.52 715.12%2c 391.40000000000003 763.04Q459.54 728.18%2c 494.40000000000003 796.32Q496.99 737.11%2c 556.2 739.7Q571.3 693%2c 618 708.1Q659.65 687.95%2c 679.8 729.6Q730.35 718.35%2c 741.5999999999999 768.9Q778.52 744.02%2c 803.3999999999999 780.95Q829.3 703.86%2c 906.3999999999999 729.76Q926.41 687.97%2c 968.1999999999998 707.98Q1008.69 645.48%2c 1071.1999999999998 685.97Q1157.48 669.25%2c 1174.1999999999998 755.53Q1230.99 709.33%2c 1277.1999999999998 766.12z' fill='rgba(174%2c 186%2c 201%2c 1)'%3e%3c/path%3e%3cpath d='M1277.1999999999998 855L0 855 L0 854.21Q18.65 769.86%2c 103 788.51Q163.11 745.62%2c 206 805.72Q284.28 781%2c 309 859.28Q330.44 818.92%2c 370.8 840.35Q400.01 766.56%2c 473.8 795.77Q537.43 756.41%2c 576.8 820.04Q651.93 792.17%2c 679.8 867.31Q697.51 823.22%2c 741.5999999999999 840.93Q760.17 756.5%2c 844.5999999999999 775.08Q909.14 736.62%2c 947.5999999999999 801.16Q972.44 764.2%2c 1009.3999999999999 789.04Q1085.51 762.15%2c 1112.3999999999999 838.26Q1166.36 830.43%2c 1174.1999999999998 884.39Q1195.66 802.86%2c 1277.1999999999998 824.32z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1236' height='855' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    font-size: 1.25rem;
    text-align: center;
    
}

.films-image {
    padding-bottom: 20px;
    width: 70%;
}

.films-header {
    padding-top: 6%;
}

#music {
    color: white;
    background-color: #1a1717;
}

.music-header {
    text-align: center;
    padding: 6%;
}


#footer {
    text-align: center;

}

.icon-footer {
    padding: 20px 10px;
    text-decoration: none;
}

.text-spacing {
    line-height: 2;
}

@media (max-width: 1028px) {
    .text-spacing {
        line-height: normal;
    }
}